In [42]:
import json
import pandas as pd

In [43]:
with open('glacnet_temporal.json', 'rb') as infile:    
    json_block = [json.loads(line.decode('utf-8')) for line in infile]

In [44]:
json_block[0]

{'__v': 0,
 '_id': {'$oid': '5b87bbf4e940f802baaec95e'},
 'coherent0': 3,
 'coherent1': 3,
 'coherent2': 3,
 'coherent3': 3,
 'coherent4': 3,
 'detailed0': 3,
 'detailed1': 3,
 'detailed2': 3,
 'detailed3': 3,
 'detailed4': 3,
 'focused0': 3,
 'focused1': 3,
 'focused2': 3,
 'focused3': 3,
 'focused4': 3,
 'grounded0': 3,
 'grounded1': 3,
 'grounded2': 3,
 'grounded3': 3,
 'grounded4': 3,
 'human0': 3,
 'human1': 3,
 'human2': 3,
 'human3': 3,
 'human4': 3,
 'share0': 3,
 'share1': 3,
 'share2': 3,
 'share3': 3,
 'share4': 3,
 'submission_key': 'wcNiWms4Tx',
 'time_spent': 59.489}

In [45]:
df = pd.DataFrame(json_block)

In [52]:
df.columns

Index(['__v', '_id', 'coherent0', 'coherent1', 'coherent2', 'coherent3',
       'coherent4', 'detailed0', 'detailed1', 'detailed2', 'detailed3',
       'detailed4', 'focused0', 'focused1', 'focused2', 'focused3', 'focused4',
       'grounded0', 'grounded1', 'grounded2', 'grounded3', 'grounded4',
       'human0', 'human1', 'human2', 'human3', 'human4', 'share0', 'share1',
       'share2', 'share3', 'share4', 'submission_key', 'time_spent'],
      dtype='object')

In [100]:
def attach(list_, num):
    res = []
    for entry in list_:
        res.append(entry+str(num))
    return res

df_refined = df.drop(["__v","_id"], axis=1)


eval_entries = ["focused", "coherent", "share", "human", "grounded", "detailed"]
idx4spl = [attach(eval_entries, i) for i in range(5)]

In [101]:
df_refined

,coherent0,coherent1,coherent2,coherent3,coherent4,detailed0,detailed1,detailed2,detailed3,detailed4,...,human2,human3,human4,share0,share1,share2,share3,share4,submission_key,time_spent
0,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,wcNiWms4Tx,59.489
1,4,3,4,3,3,5,3,3,4,4,...,4,4,5,3,4,3,3,4,vh32VetQXI,24.193
2,4,4,3,4,3,4,4,4,4,3,...,4,4,4,4,4,4,4,3,i6TUT45MDT,233.155
3,4,2,4,2,4,4,4,4,3,4,...,4,4,4,4,3,4,2,4,Vh5iU3dGXf,215.445
4,3,4,3,3,4,3,4,3,3,4,...,4,4,5,3,4,3,3,4,qNWz3BzMne,74.245
5,5,1,5,5,2,4,2,4,4,4,...,2,4,4,5,1,4,2,4,ndar3hbzxR,334.678
6,1,5,5,4,5,2,4,4,4,5,...,4,4,5,1,4,4,2,4,hVTUOpeT5n,509.390
7,2,4,4,4,2,2,4,2,4,2,...,3,4,3,1,2,2,2,2,DvIEf8UH9X,208.009
8,4,2,2,2,5,2,4,3,2,5,...,3,2,5,1,3,2,2,5,fykcfrKGX2,402.946
9,4,5,5,5,4,4,4,4,4,4,...,5,5,4,4,5,4,4,3,skTRvEUWPA,330.411
10,4,4,5,5,4,3,4,4,4,3,...,5,5,5,4,4,4,4,4,kGHCrc0s48,498.627
11,1,4,2,5,4,3,5,3,5,5,...,4,4,4,2,4,2,3,4,7Z0N1XMdVR,185.976

In [95]:
idx4spl[0]

['focused0', 'coherent0', 'share0', 'human0', 'grounded0', 'detail0']

In [91]:
df_refined[idx4spl[0][0]]

0     3
1     5
2     4
3     4
4     4
5     5
6     1
7     2
8     4
9     5
10    5
11    2
Name: focused0, dtype: int64

In [102]:
df_spl_list = [df_refined[cols] for cols in idx4spl]

In [103]:
df_spl_list[0]

    focused0  coherent0  share0  human0  grounded0  detailed0
0          3          3       3       3          3          3
1          5          4       3       4          4          5
2          4          4       4       4          4          4
3          4          4       4       4          4          4
4          4          3       3       4          3          3
5          5          5       5       2          4          4
6          1          1       1       1          1          2
7          2          2       1       2          2          2
8          4          4       1       2          2          2
9          5          4       4       5          4          4
10         5          4       4       5          3          3
11         2          1       2       2          4          3

In [ ]:
import json, pandas as pd

with open('path_to_your_json_file', 'rb') as infile:
    json_block = []
    dictlist=[]
    for line in infile:
        json_block.append(line)
        if line.startswith('}'):
            json_dict = json.loads(''.join(json_block))
            dictlist.append(json_dict)
            json_block = []

df = pd.DataFrame(jsonlist)
df.to_csv('out.csv',encoding='utf-8')